:root {
    --game-logo-size: 250px;
    --game-title-margin: 95px;
    --game-title-size: 25px;
    --game-info-size: 18px;
    --dot-size: 8px;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow-x: hidden;
}

.content {
    background-color: #1A1A1B;
    font-family: 'Open Sans', sans-serif;
}

.container {
    border: solid 1px #343536;
}

.body {
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}

.logo-holder {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    min-width: 400px;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
}

.plain-link, .plain-link:hover, .plain-link:active, .plain-link:visited, .plain-link:focus {
    text-decoration: none;
    color: white;
}

.navi-menu {
    display:flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%
}

.navi-button {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 30px;
    height: 100%;
    width: 140px;
}

.navi-button:hover, .navi-button:active, .navi-button:focus {
    background-color: #3E3E41;
    text-decoration: none;
    color: white;
}

.button, .button:visited {
    text-decoration: none;
    color: white;
}

.button:hover, .button:active, .button:focus {
    background-color: #3E3E41;
    text-decoration: none;
    color: white;
}

.section-title {
    display: flex;
    align-items: center;
    font-weight:200;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

.section-container {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    display: grid;
    justify-items: center;
}

.loading-indicator {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#games-container {
    grid-template-columns: repeat(auto-fill, minmax(min(600px, 100vw), 1fr));
}

.game {
    display: flex;
    font-weight: 200;
    float: left;
    margin-right: 0;
    min-width: min(600px, 100vw);
    width: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    grid-auto-columns: auto;
    object-fit: contain;
}

.game-logo {
    display: flex;
    width: var(--game-logo-size);
    height: var(--game-logo-size);
    min-width: var(--game-logo-size);
    min-height: var(--game-logo-size);
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}

.game-info {
    width: 100%;
}

.game-title {
    margin-top: var(--game-title-margin);
    margin-bottom: var(--game-title-margin);
    font-size: var(--game-title-size);
}

.game-status {
    display: flex;
    align-items: center;
    float: right;
    font-size: var(--game-info-size);
}

.game-players {
    text-align: right;
    margin-right: 20px;
    font-size: var(--game-info-size);
}

.dot {
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--dot-size);
    margin-left: var(--dot-size);
    margin-top: 4px;
}

.online {
    background-color: lime;
}

.offline {
    background-color: red;
}

#api-container {
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100vw), 1fr))
}

.api {
    display: block;
    font-weight: 200;
    float: left;
    margin-right: 0;
    min-width: min(400px, 100vw);
    width: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    grid-auto-columns: auto;
    object-fit: contain;
}

.api-status {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 5px;
}

.api-title {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.api-info {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.api-url {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}



@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}